:root{
    --white-font : #f7f0f0;
    --primary-font: "Playfair Display", serif;
    --seconday-font-family: "Open Sans", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --logo-font-family: "Tinos";
    --para-font : "Inter", sans-serif;

    --main-text-color : #295870;
    --goldern-text-color : #bc8a52;
    --link-border-color: #dfc5a6;
}