*{
    margin: 0;
    padding: 0;
}

  header{
    background-color: #455c6a;
    color: #fff;
  }
  .navbar-row{
    width: 85% !important;
}

.navbar-toggler{
  padding: 0.56rem 2.1rem !important;
  font-family: var(--poppins-font) !important;
  color: var(--white-font) !important;
  border: 1px solid var(--link-border-color) !important;
  border-radius: 0px !important;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  font-weight: 500;
}

.navbar-toggler:hover{
  cursor: pointer;
}

.contact-us-btn{
  display: none;
  padding: 0.56rem .76rem;
  font-family: var(--poppins-font);
  color: var(--white-font);
  border: 1px solid var(--link-border-color);
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  font-weight: 500;
}

.contact-us-btn:hover{
  cursor: pointer;
}

.navbar-row h1{
    font-family: var(--logo-font-family);
      font-size: 30px !important;
      margin-bottom: 0px;
      line-height: 35px;
      letter-spacing: 1px;
  }
  
    .header-subtext{
      font-family: var(--seconday-font-family);
      font-size: 12px;
      word-spacing: 2px;
      font-weight: 200;
  }
  

.logo-text-content{
    padding-right: 4rem !important;
    color: var(--white-font);
    text-align: end;
}

.logo-text-content img{
    width: 12%;
    margin-right: 4rem;
    float: inline-end;
}

.icon-div{
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-top: 1rem;
}

.icon-div i{
    font-size: 30px;
    color: #e9e8e8;
}

.navbar{
    padding-left: 4rem !important;
}

.navbar-collapse .nav-link{
    text-decoration: none !important;
    color: var(--white-font);
    font-size: 16px;
    font-weight: 500;
}
.navbar-collapse .nav-link.active{
    border-bottom: 1px solid var(--link-border-color);
    color: var(--white-font);
}

.navbar .header-btn{
  color: white;
  border: 1px solid var(--link-border-color);
  padding: 7px 20px;
  border-radius: 0px;
}

.navbar .header-btn:hover{
  color: #f7f0f0;
}

.img-section{
    width: 100%;
    height: auto;
}

/* text-treament-section */
.text-treatment-section .row{
    padding-top: 5%;
    padding-bottom: 5%;
}

.text-treatment-section .left-section{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-treatment-section .right-section{
    padding-top: 2rem;
    padding-left: 3rem;
}

.text-treatment-section .right-section p{
    font-family: var(--seconday-font-family);
    font-size: 19px;
    line-height: 1.7;
    font-weight: 500; 
    margin-bottom: 4%;
}
.text-treatment-section h3{
    font-family: var(--primary-font);
    color: var(--main-text-color);
    font-size: 1.2rem !important;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.6;
}

.text-treatment-section .goldern-text{
    font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--goldern-text-color);
  line-height: 1.6;
  margin-bottom: 0px;
}

/* TREAMENT-BEFORE-AFTER-SECTION */
.treatment-after-before-section{
    background-color: #f5f0ec;
    padding: 9% 0;
}

.treatment-after-before-section h3{
    font-family: var(--seconday-font-family);
    color: var(--main-text-color);
    font-size: 1.05rem;
    padding-bottom: 4%;
    font-weight: 700;
}

.treatment-after-before-section .img-section{
    width: 30vw;
}

/* question section */

.question-section{
    font-family: var(--poppins-font);
    background-color: #455c6a;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 3%;
}

.question-section .container{
    width: 70vw !important;
}

.question-section h2{
    /* font-family: var(--poppins-font); */
    margin-bottom: 5%;
}

.question-section .question-div{
    background-color: white;
    color: #667c89;
    margin-bottom: 7%;
    padding: 1rem 3rem;
}

.question-div p{
    font-weight: 500;
    line-height: 1.7;
    font-size: 16px;
}

.add-ques-img{
    position: absolute;
    transform: translateY(2px);
    width: 27px;
}



/* award-section */

/* .award-text{
    position: absolute;
    left: 37.5%;
    margin-top: 3rem;
      font-family: var(--poppin-font);
      font-size: 2.5rem !important;
      letter-spacing: 3px;
      font-weight: 400;
      line-height: 45px;
  } */
  .award-img-div{
      display: flex;
      flex-direction: column;
      gap: 15px;
  }
  
  .award-img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }



.footer {
    background-color: #455c6a;
    color: #fff;
    padding: 4rem 1.1rem;
    font-family: var(--poppin-font);
    font-weight: 300;
  }

  .footer a{
    color: #fff;
    text-decoration: none;
  }

  .footer .gdc-link{
    border-bottom: 1px solid;
  }

  .footer .gdc-link:hover{
    color: #ddd;
  }

  .footer .site-update-text{
    margin-top: 3rem;
    padding-bottom: 2rem;
  }

  .footer .phone-detail{
    margin-top: 2rem;
  }

  .footer-bottom-icon-row{
    align-items: center;
    border-top: 1px solid #d8a77f;
    border-bottom: 1px solid #d8a77f;
  }


  .footer-bottom {
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: end;
    gap: 90px;
  }

  footer .icon-div{
    justify-content: left;
    margin: 0px;
    padding: 15px 0px;
  }

  footer .icon-div i{
    font-size: 30px;
  }
  
  .footer-bottom a {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
  }

  .footer-bottom a:hover {
    color: #ddd;
  }

  @media screen and (min-width:1024px) and (max-width:1300px) {
    .navbar-row {
      width: 90% !important;
  }

  .navbar{
    padding-left: 0px !important;
  }
  .navbar .header-btn {
    padding: 7px 14px;
    font-size: 14px;
  }

  .navbar-collapse .nav-link {
    font-size: 14px;
  }

  .text-treatment-section .right-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1%;
  }

  .text-treatment-section .left-section {
    padding-left: 0px;
    padding-right: 0px;
  }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .logo-text-content {
      padding-right: 0rem !important;
    }
    .navbar{
      padding-left: 0px !important;
      
    }
    .contact-us-btn{
      display: block;
    }
    .text-treatment-section .goldern-text {
      font-size: 1rem;
      line-height: 1.5;
    }
    .text-treatment-section .left-section {
      padding-top: 1rem;
      gap: 1rem;
      padding-left: 0rem; 
     padding-right: 0rem; 
}
    
    .text-treatment-section .row {
      padding-top: 1%;
      padding-bottom: 2%;
  }
    .text-treatment-section .right-section p {
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 2%;
  }

  .text-treatment-section .right-section {
    padding-top: 1rem;
    padding-left: 0rem ;
  }

  .footer{
    font-size: 15px;
  }
  
  .footer .footer-bottom {
    gap: 50px;
  }
  .footer-bottom a {
    font-size: 11px;
  }
  }
  @media screen and (min-width:375px) and (max-width:576px) {

    .navbar{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .navbar-toggler {
      padding: 0.56rem 1.5rem !important;
    }

    .navbar>.container-fluid{
      justify-content: space-evenly;
    }

    .icon-div {
      gap: 15px;
      justify-content: center;
    }

    .contact-us-btn{
      display: block;
    }

    .header-bg-img .row {
      width: 100% !important;
    }
    .text-treatment-section .left-section {
       padding-top: 1rem;
       padding-left: 10px;
       padding-right: 10px;
       gap: 1rem;
      }

      .text-treatment-section .right-section {
        padding-top: 1rem;
        padding-left: 10px;
      }
      .treatment-after-before-section .img-section {
        width: 100%;
        margin-bottom: 20px;
      }

      .question-section .container {
        width: 100% !important;
      }
      .add-ques-img {
        position: absolute;
        transform: translate(-11px, 1px);
      }

      .award-img-div {
        margin-bottom: 10px;
      }

       
    .footer {
      padding: 3rem 0px;
      text-align: center;
      
  }

  .footer p{
    font-size: 17px;
  }
  .footer .phone-detail {
    margin-top: 1.5rem;
  }

  .footer .site-update-text {
    margin-top: 2rem;
    padding-bottom: 0rem;
  }


  .footer .icon-div{
    justify-content: space-evenly;
    margin: 0px;
    padding: 10px 0px;
    }

  
  .footer-bottom {
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  gap: 15px;
  font-size: 22px;
  }

  }